<!DOCTYPE html>
<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Registro</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <form method="POST" action="/register">
        <label for="username">Nome de Usuário:</label>
        <input type="text" name="username" required><br>

        <label for="email">E-mail:</label>
        <input type="email" name="email" required><br>

        <label for="password">Senha:</label>
        <input type="password" name="password" required><br>

        <input type="submit" value="Registrar">
    </form>
    <p>Já possui uma conta? <a href="/login">Faça o login</a></p>
</body>
</html>
